{
  presets: [
    ["@babel/preset-env", {
      "useBuiltIns": "entry",
      "corejs": "2.0.0"
    }]
  ],
  plugins: [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
